
footer {
    padding: 5% 15% 2% 10%;
    color: $primaryTextColor;
    background-color: $primaryBackColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        margin-right: 2%;
        width: 10%;
        height: 10%;
    }

    ul{
        list-style: none;
    }
    
    .left{
        margin-left: 5%;
        width: $w-100;
    }

    .right{

        ul{
            li{
                margin-bottom: 1%;
            }
        }
    }

    

}